<section class="catalog">
  <div class="container container-catalog">
    <h2 class="title-catalog">Каталог</h2>
    <ul class="list-catalog">
      <li class="item-catalog" data-type="branchlet">
        <img
          class="img-catalog"
          src="/img/branchletcard.webp"
          alt="branchlet"
        />
        <h3>Гілочки</h3>
        <button class="btn-catalog" type="button">Замовити</button>
      </li>
      <li class="item-catalog" data-type="earrings">
        <img class="img-catalog" src="/img/earringscard.webp" alt="earrings" />
        <h3>Сережки</h3>
        <button class="btn-catalog" type="button">Замовити</button>
      </li>
      <li class="item-catalog" data-type="hoops">
        <img class="img-catalog" src="/img/hoopscard.webp" alt="hoops" />
        <h3>Обручі</h3>
        <button class="btn-catalog" type="button">Замовити</button>
      </li>
      <li class="item-catalog" data-type="necklaces">
        <img
          class="img-catalog"
          src="/img/necklacescard.webp"
          alt="necklaces"
        />
        <h3>Намиста</h3>
        <button class="btn-catalog" type="button">Замовити</button>
      </li>
      <li class="item-catalog" data-type="combs">
        <img class="img-catalog" src="/img/combscard.webp" alt="combs" />
        <h3>Гребінці</h3>
        <button class="btn-catalog" type="button">Замовити</button>
      </li>
      <li class="item-catalog" data-type="pins">
        <img class="img-catalog" src="/img/pinscard.webp" alt="pins" />
        <h3>Шпильки</h3>
        <button class="btn-catalog" type="button">Замовити</button>
      </li>
    </ul>
  </div>
</section>
