<header class="header">
  <div class="container">
    <a href="../index.html" class="header-logo"
      ><img src="/img/header/logo-wedding.webp" alt="logo-wedding"
    /></a>
    <nav class="nav-list">
      <ul class="nav-items">
        <li>
          <button class="btn-link-nav">
            <svg class="icon-social" width="25" height="25">
              <use href="/img/icons/icons.svg#icon-images"></use>
            </svg>
            <span>Каталог</span>
          </button>
        </li>
      </ul>
    </nav>
    <address class="social-link">
      <ul class="items-link">
        <li class="item-link">
          <a href="" class="link"
            ><svg class="icon-social" width="25" height="25">
              <use href="/img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item-link">
          <a href="" class="link"
            ><svg class="icon-social" width="25" height="25">
              <use href="/img/icons/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="item-link">
          <a href="" class="link"
            ><svg class="icon-social" width="25" height="25">
              <use href="/img/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <div class="open-menu">
      <button class="modal-btn">
        <svg class="modal-svg" width="30" height="30">
          <use href="/img/icons/close.svg#icon-footer"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
