<header class="header">
  <div class="container">
    <a href="../index.html" class="header-logo"
      ><img src="../img/logo-wedding.webp" alt="logo-wedding"
    /></a>
    <nav class="nav-list">
      <ul class="nav-items">
        <li><a href="" class="nav-link">Text1</a></li>
        <li><a href="" class="nav-link">Text2</a></li>
        <li><a href="" class="nav-link">Text3</a></li>
        <li><a href="" class="nav-link">Text4</a></li>
      </ul>
    </nav>
    <address class="social-link">
      <ul class="items-link">
        <li class="item-link">
          <a href="" target="_blank" class="link">Instagram</a>
        </li>
        <li class="item-link">
          <a href="" target="_blank" class="link">Facebook</a>
        </li>
        <li class="item-link">
          <a href="" target="_blank" class="link">Telegram</a>
        </li>
      </ul>
    </address>
    <div class="open-menu">
      <button class="modal-btn">
        <svg class="modal-svg" width="40" height="40">
          <use href="../img/icons.svg#mobile-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
