<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">Прикраси ручної роботи</h1>
    <div class="hero-img">
      <picture
        ><source
          srcset="/img/hero/hero-mob.jpg 1x, /img/hero/hero-mob2x.jpg 2x"
          media="(max-width: 767px)" />
        <source
          srcset="/img/hero/hero-tablet.jpg 1x, /img/hero/hero-tablet2x.jpg 2x"
          media="(max-width: 1279px)" />
        <source
          srcset="
            /img/hero/hero-desktop.jpg   1x,
            /img/hero/hero-desktop2x.jpg 2x
          "
          media="(min-width: 1280px)" />
        <img loading="lazy" src="/img/hero/hero-mob.jpg" alt="asseccories"
      /></picture>
    </div>
    <a href="" target="_blank" class="hero-link">Зробити замовлення</a>
  </div>
</section>
