<div class="container">
  <div class="mob-menu">
    <div class="container-logo">
      <a href="../index.html" class="header-logo"
        ><img src="/img/header/logo-wedding.webp" alt="logo-wedding"
      /></a>
      <button class="close-btn">
        <svg class="icon-close" width="30" height="30">
          <use href="/img/icons/close.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="contacts-menu">
      <ul class="items-menu">
        <li class="list-menu">
          <button class="btn-link-catalog">
            <svg class="icon-navigate" width="20" height="20">
              <use href="/img/icons/icons.svg#icon-images"></use>
            </svg>
            Каталог
          </button>
        </li>
        <li class="list-menu">
          <a href="" class="contact-menu">Instagram</a>
        </li>
        <li class="list-menu"><a href="" class="contact-menu">Facebook</a></li>
        <li class="list-menu"><a href="" class="contact-menu">Telegram</a></li>
      </ul>
    </div>
  </div>
</div>
