.header {
  padding: 10px 0;
  position: sticky;
  box-shadow: 0 5px 4px -6px #252121;
  background: rgb(250, 234, 248);
  background: linear-gradient(90deg, rgba(250, 234, 248, 1) 0%, rgba(251, 170, 222, 1) 50%, rgba(247, 235, 247, 1) 100%);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-list {
  display: none;
}

.social-link {
  display: none;
}

.modal-btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
}

.modal-svg {
  stroke: rgb(143, 3, 124);
}


@media screen and (min-width: 768px) {
  .nav-list {
    display: block;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
  }

  .nav-link {
    font-weight: 400;
    font-size: 16px;
    color: #313053;
    letter-spacing: 0.5px;
    padding: 10px;
  }

  .nav-link:hover {
    background-color: #8f037c;
    border-radius: 6px;
    color: whitesmoke;
  }

  .modal-btn {
    display: none;
  }
}

@media screen and (min-width: 1280px) {

  .social-link {
    display: flex;
    justify-content: end;
  }

  .items-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 52px;
  }

  .link {
    font-weight: 400;
    font-size: 16px;
    color:#313053;
    padding: 10px;
  }

  .link:hover {
    background-color: #8f037c;
    border-radius: 6px;
    color:whitesmoke;
  }



}
