.header {
  padding: 20px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  
}

.nav-list {
  display: none;
}

.modal-btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
}


@media screen and (min-width: 768px) {
  .nav-list {
    display: block;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
  }

  .modal-btn {
    display: none;
  }
}
