.header {
  border-bottom: 1px solid rgb(243, 2, 155);
  padding: 20px 10px;
  position: sticky;
  max-width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

.social-link {
  display: none;
}

.modal-btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
}

.modal-svg {
  fill: rgb(255, 74, 189);
}

@media screen and (min-width: 768px) {
  .container {
    gap: 30px;
  }

  .nav-list {
    display: block;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .btn-link-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }

  .btn-link-menu:hover,
  .btn-link-menu:focus,
  .btn-link-menu:active {
    border-bottom: 3px solid rgb(255, 74, 189);
  }

  .icon-social {
    fill: rgb(255, 74, 189);
  }

  .nav-link {
    font-weight: 400;
    font-size: 20px;
    color: #313053;
    letter-spacing: 0.5px;
    padding: 10px;
  }

  .social-link {
    display: flex;
  }

  .items-link {
    display: flex;
    align-items: center;
  }

  .link {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    color: rgb(255, 74, 189);
    transition: box-shadow 0.2s ease;
    border-radius: 50%;
  }
  .link svg.icon-social {
    fill: currentColor;
    transition: fill 0.2 ease;
  }
  .link:hover {
    color: aliceblue;
    background-color: rgba(255, 74, 189);
    box-shadow: 0 0 10px 2px rgba(255, 74, 189);
  }

  .link span {
    margin-left: 5px;
  }

  .modal-btn {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .social-link {
    display: flex;
    justify-content: end;
  }

  .items-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 52px;
  }

  .link:hover {
    background-color: rgb(255, 74, 189);
    border-radius: 50%;
    color: whitesmoke;
  }
}
