.mob-menu {
  padding: 20px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease;
  background-color: white;
  z-index: 1000;
}

.mob-menu.is-open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  animation: slideInFromLeft 0.3s ease;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
  padding: 0 20px;
}

.close-btn {
  background-color: transparent;
}

.icon-close {
  fill: rgb(255, 74, 189);
}

.contacts-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 32px;
}

.list-menu {
  gap: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #292929;
  padding: 10px;
}

.contact-menu span {
  margin-left: 5px;
}
.btn-link-menu {
  background-color: transparent;
}

.btn-link-menu span {
  margin-left: 5px;
}

.btn-link-catalog {
  background-color: transparent;
  fill: rgb(255, 74, 189);
}

.list-menu:hover {
  background-color: rgb(255, 74, 189);
  border-radius: 6px;
  color: whitesmoke;
}
